/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock

# Added by cargo

/target

/ext/whatlang-rb/Makefile
/ext/whatlang-rb/extconf.rb
/ext/whatlang-rb/mkmf.log
/lib/whatlang_rb.bundle

